<!DOCTYPE HTML>
<html lang="en">
    <head>
        <script src="js/button.js" defer></script>
        <link rel="stylesheet" href="css/button.css">
    </head>
    <body>
        <ul>
            <li><a href="index.html" class="button">Home</a></li>
            <li><a href="about.html" class="button">About</a></li>
            <li><a href="contact.html" class="button">Contact</a></li>
            <li><a href="gallery.html" class="button">Gallery</a></li>
            <li><a href="writings.html" class="button">Writing</a></li>
            <li><button id="backButton" class="button">Back</button></li>
        </ul>
    </body>
</html>