<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Introduces the website.">
        <link rel="stylesheet" href="/css/footer.css">
    </head>
    <body>
        <div class="footer-content">
            <nav class="footer-images">
                <ul>
                    <li><a href="https://x.com/RVL_005" title="Twitter"><img src="/assets/sites/twitter.svg" alt="Twitter icon"></a></li>
                    <li><a href="https://github.com/rvl-005" title="GitHub"><img src="/assets/sites/github.svg" alt="GitHub icon"></a></li>
                    <li><a href="https://bsky.app/profile/rvl-005.bsky.social" title="Bluesky"><img src="/assets/sites/bluesky.svg" alt="Bluesky icon"></a></li>
                    <li><a href="https://www.instagram.com/rvl_005/" title="Instagram"><img src="/assets/sites/instagram.svg" alt="Instagram icon"></a></li>
                    <li><a href="https://ellipsisng.newgrounds.com/" title="Newgrounds"><img src="/assets/sites/newgrounds.svg" alt="Newgrounds icon"></a></li>
                    <li><a href="https://www.youtube.com/@RVL-005" title="YouTube"><img src="/assets/sites/youtube.svg" alt="YouTube icon"></a></li>
                </ul>
            </nav>
            <nav class="footer-links">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="journal.html">Journal</a></li>
                    <li><a href="writings.html">Writing</a></li>
                </ul>
            </nav>
            <div class="footer-text">
                <p><a href="mailto:cxdenamerevolution@gmail.com
    ">Send email</a></p>
                <p>&copy;All rights reserved.</p>
                <p>Last updated: June 2025</p>
            </div>
        </div>
    </body>
</html>