<!DOCTYPE! HTML>
<html lang="en">
    <head>
        <title>Page Not Found</title>
        <link rel="stylesheet" href="/css/styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Error page for not found resources.">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <script src="/js/main.js" defer></script>
        <script>console.log("Testing if script runs!");</script>
    </head>
    <body>
        <header>
            <h1>404 - Page Not Found</h1>
        </header>
        <main>
            <p>Sorry, the page you are looking for does not exist. Please come back later.</p>
            <p><a href="/">Return to the homepage</a></p>
        </main>
        <footer id="footer"></footer>
    </body>